{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title> HIVCenter </title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
{% endblock meta %}

<body>
{% block content %}
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <div>
    <div class = "relative bg-main ">
      <div class = "relative top-0 flex justify-center">
        <div class = "h-24 flex flex-col w-full justify-center items-center max-w-1500px">
          <div class = "hamnav flex items-center w-full">
            <div class = "flex items-center">
              <a href = "/"> <img class= "logonav cover center cursor-pointer block" src = "../../static/images/logo.png"/> </a>
              <a href = "/" class = "text-decoration-none"> <h1 class = "judulnav text-white font-bold w-1/5 cursor-pointer"> HIVCenter </h1> </a>
            </div>
            {% if not is_authenticated %}
            <div class = "flex list-none gap-x-8 items-center text-white font-bold text-2xl">
            {% else %}
            <div class = "flex list-none gap-x-4 items-center text-white font-bold text-2xl">
            {% endif %}
              <a href = "/blogpost/" class = "blogpostnav cursor-pointer text-decoration-none text-white"> Blogpost </a>
              <a href = "/experience/"  class = "experiencenav cursor-pointer text-decoration-none text-white"> Experience </a>

              {% if is_authenticated %}
                <a href = "/booking/" class = "bookingnav cursor-pointer text-decoration-none text-white"> Booking </a>
              {% endif %}

              <a href = "/feedback/" class = "feedbacknav cursor-pointer text-decoration-none text-white"> Feedback </a>

              {% if not is_authenticated %}
              <a class = "text-white font-bold text-decoration-none btn-login widthmin" href="/authentication/login/"> Login </a>
              {% endif %}

              {% if is_authenticated %}
              <a class = "text-white font-bold text-decoration-none btn-logout widthmin" href="/authentication/logout/"> Logout </a>
              {% endif %}

              <button class="navbar-toggler text-white hamburgernav cursor-pointer" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                  <iconify-icon icon="fa-solid:bars"></iconify-icon></span>
              </button>
            </div>
            
          </div>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="bg-light shadow-3 p-4 box-shadow text-black flex flex-col gap-y-8">
          <a href = "/blogpost/" class = "hamblogpost cursor-pointer text-decoration-none text-black font-bold"> Blogpost </a>
          <a href = "/experience/"  class = "hamexperience cursor-pointer text-decoration-none text-black font-bold"> Experience </a>
          {% if is_authenticated %}
            <a href = "/booking/" class = "hambooking cursor-pointer text-decoration-none text-black font-bold"> Booking </a>
          {% endif %}
          <a href = "/feedback/" class = "hamfeedback cursor-pointer text-decoration-none text-black font-bold"> Feedback </a>        
          {% if not is_authenticated %}
            <a href = "/authentication/login/" class = "hamfeedback cursor-pointer text-decoration-none font-bold" style = "color: #41b36a; "> Login </a>  
          {% endif %}  

          {% if is_authenticated %}
            <a href = "/authentication/logout/" class = "hamfeedback cursor-pointer text-decoration-none font-bold" style = "color: #cb2d3e; "> Logout </a>  
          {% endif %} 

        </div>
      </div>

      <div class = "hero relative top-0 flex flex-col items-center justify-center h-full px-8" >
        <div class = "hero1 flex flex-col-reverse w-full items-center">
          <div class = "hero11 flex flex-col justify-center w-3per5">
            <h1 class = "text-white font-bold"> Providing Best Help for HIV Infected Person </h1>
            <h3 class = "text-grey my-4" style= "color:white;"> We are here for you </h3>
            <button class = "btnabout inline border-50px border-button bg-button text-white font-bold widthmin"> <a href="#about" class = "text-white text-decoration-none"> Get Started </a></button>
          </div>
          <div class = "w-2per5"><img class= "image cover center animated img-fluid" data-aos="zoom-in" data-aos-delay="200" src = "../../static/images/hivtos.png"/></div>
        </div>
      </div>
    </div>

    <div id = "about" class = "relative about my-8">
      <div class="text-center"><h2 id="support" >0</h2><h2>Support</h2></div>
      <input type="image" class="center-block" onclick="myFunction()" style="width:40%; max-width:300px;" src="/static/images/asset2.png" />
      <h4 class = "text-center font-bold color-blue about" style="padding-bottom:10px;"> Click to send support! </h2>

      <h2 class = "text-center font-bold color-blue about"> About us </h2>

      <div class=  "flex justify-center my-8">
        <div class = "div1 flex flex-col items-center w-full text-2xl max-w-1500px">
          <div class = "div11 flex flex-col justify-center w-4per5">
            <p> HIVCenter memiliki visi untuk menghilangkan stereotip yang melekat pada 
              sebagian besar masyarakat Indonesia mengenai ODHA sekaligus meningkatkan kesadaran akan 
              pentingnya pencegahan penyakit menular seksual. Selain itu, HIVCenter juga berharap dengan 
              adanya aplikasi ini, ODHA dapat merasa lebih diterima tanpa adanya stereotip dari masyarakat pada umumnya.</p>
            <p> HIVCenter memiliki fitur-fitur yang dapat memberikan pengetahuan seputar HIV kepada pengguna yaitu :</p>
            <ul>
              <li><iconify-icon icon="ri:check-double-line"></iconify-icon> forum untuk pengguna pasien guna saling bertukar pengalaman dan informasi seputar HIV</li>
              <li><iconify-icon icon="ri:check-double-line"></iconify-icon> fitur pengguna pasien untuk membuat reservasi atau booking kepada pengguna dokter untuk melakukan konsultasi atau pemeriksaan HIV.</li>
              <li><iconify-icon icon="ri:check-double-line"></iconify-icon> forum untuk pengguna yang dapat memberikan postingan seputar informasi HIV</li>
              <li><iconify-icon icon="ri:check-double-line"></iconify-icon> forum untuk pengguna yang dapat memberikan feedback</li>
            </ul>
          </div>
          <div class = "div12 flex flex-col w-4per5">
            <p>
              Fitur-fitur tersebut disediakan sebagai upaya penyuluhan dan tindakan 
              preventif HIV. Dengan adanya fitur-fitur yang disediakan pada HIVCenter 
              diharapkan dapat mengedukasi masyarakat tentang info seputar HIV, dapat 
              mengubah stigma negatif masyarakat terhadap pengidap HIV, dan juga yang 
              paling penting adalah dapat mengurangi kasus HIV yang ada di Indonesia.
            </p>
            <a href="#" class="btn-learn-more widthmin">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="faq relative bg-main" id="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 class = "text-center font-bold color-white about">Misconceptions about HIV</h2>
          <h6 class = "text-center font-bold color-white"> Misinformation and a lack of knowledge around HIV continues to perpetuate stigma. One way </h6>
          <h6 class = "text-center font-bold color-white"> to help educate and shift these attitudes is to shine a light on some of the myths around HIV today.</h6>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">HIV is the same as AIDS <i class="bx bx-chevron-down icon-show"></i><img class="arrow" src="../../static/images/arrow.png" style="width:5%; justify-items:right;"></img></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Although it's been decades since the beginning of the pandemic, at times media outlets still do not draw the distinction between HIV 
                  (Human Immunodeficiency Syndrome) and AIDS (Acquired Immunodeficiency Syndrome). These days thanks to advances in HIV treatment, most 
                  people with HIV will never have AIDS. A person who starts HIV treatment early after testing positive can live a near normal life without 
                  their HIV ever progressing to AIDS.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">HIV can be transferred by kissing<i class="bx bx-chevron-down icon-show"></i><img class="arrow" src="../../static/images/arrow.png" style="width:5%; justify-items:right;"></img></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  It's extremely unlikely you will contract HIV from kissing as HIV is not spread the saliva. If the person you are kissing has sore or bleeding gums then there is an elevated risk, but overall transmission through kissing is extremely rare.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">You can tell by looking if someone has HIV<i class="bx bx-chevron-down icon-show"></i><img class="arrow" src="../../static/images/arrow.png" style="width:5%; justify-items:right;"></img></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  There is no definite way to tell by looking at someone if they have HIV or not. Guys who have HIV and are on treatment will look like HIV negative individuals. While some people show some symptoms from the infection this is highly different for each guy, so there is no way of knowing.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">I'm HIV-positive. My life is over<i class="bx bx-chevron-down icon-show"></i><img class="arrow" src="../../static/images/arrow.png" style="width:5%; justify-items:right;"></img></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  In the early years, when the disease was epidemic, the death rate from AIDS was extremely high. But today's drugs allow people who have HIV or even AIDS to live much longer, normal, and productive lives. If you start drug treatment right away and take it correctly, it's possible you won't ever develop AIDS. And you may live as long as you would have without the virus.
                  HIV could make you more likely to get diseases like cancer, heart disease, and kidney disease. So protect yourself with a healthy lifestyle. And tell your doctor about any other health problems you have. HIV drugs can interfere with other medications and make some conditions harder to control</p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Now that I have HIV, I can't have kids<i class="bx bx-chevron-down icon-show"></i><img class="arrow" src="../../static/images/arrow.png" style="width:5%; justify-items:right;"></img></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  You may be able to safely have children. Doctors can help you take steps to lower or remove the chance that you'll pass the virus to your partner during conception. If you're pregnant, your doctor will give you HIV drugs to protect you and your baby. The baby may also be given medication after birth.</p>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class = "blogs relative my-8">
      <h2 class = "text-center font-bold color-blue"> Blogpost </h2>
      <div class = "flex justify-center">
        <div class="container-blog max-w-full animation-blog" id = "containerBlog">
        </div>
      </div>

      <div class = "text-center">
        <a href="/blogpost/" class="btn-learn-more widthmin">See More</a>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>

      function getUsername(id){
            $.ajax({
              type: "GET",
              url: `/blogpost/user/${id}`,
              async: false,  
              success: function(data){
                username = data.user
              }  
            })

            return username
      }

      function myFunction(){  
        var element = document.getElementById('support');
        var value = element.innerHTML; 
        ++value;
        console.log(value)
        document.getElementById('support').innerHTML = value;
        localStorage.setItem('support', value)
      }

      function myFunction2(){
        document.getElementById('support').innerHTML = localStorage.getItem('mynumber');
      }

      function showBlogpost(){
        $.ajax({
          type: "GET",
          url: "/blogpost/json/?importance=DT", 
          success: function(data){
            blogs = data.reverse()
            var card = ""
            if(blogs.length == 0){
                card = `<h1> Belum ada </h1>`
                $(card).appendTo("#containerBlog")
            }else if(blogs.length == 1){
                title = data[0].fields.title
                opening = data[0].fields.opening
                main = data[0].fields.main
                closing = data[0].fields.closing
                importance = data[0].fields.importance
                date = data[0].fields.time.substring(0, 10)
                user = data[0].fields.user
                id = data[0].pk
                username = getUsername(user)
                var openingCard = opening.slice(0, 100) + (opening.length > 100 ? "..." : ""); 
                image = `https://source.unsplash.com/600x400/?$hiv/${id}`
                card = 
                `
                  <div class="cardblog">
                    <div class="cardblog__header">
                      <img src= ${image} alt="cardblog__image" class="cardblog__image" width="600">
                    </div>
                    <div class="cardblog__body">
                      ${importance == "LW" ? '<span class="tagblog tag-green"> Low </span>' : ''}
                      ${importance == "IM" ? '<span class="tagblog tag-yellow"> Intermediate </span>' : ''}
                      ${importance == "HH" ? '<span class="tagblog tag-red"> High </span>' : ''}
                      <a href = "/blogpost/${id}/" class = "cursor-pointer text-decoration-none text-black font-bold"> <h4>${title}</h4> </a>
                      <p> ${openingCard} </p>
                    </div>
                    <div class="cardblog__footer">
                      <div class="userblog">
                        <div class="userblog__info">
                          <img src="https://img.lovepik.com/element/45000/4103.png_860.png" alt="userblog__image" class="userblog__image" width = "50px" height = "50px">
                          <div style = "max-width: 150px; width: 100%;">
                            <h5 class = "capitalize"> ${username} </h5>
                            <small> ${date} </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                `
                $(card).appendTo("#containerBlog")
            }else if(data.length >= 2){
              for(let i = 0; i < 2 ; i++){
                title = data[i].fields.title
                opening = data[i].fields.opening
                main = data[i].fields.main
                closing = data[i].fields.closing
                importance = data[i].fields.importance
                date = data[i].fields.time.substring(0, 10)
                user = data[i].fields.user
                id = data[i].pk
                username = getUsername(user)
                var openingCard = opening.slice(0, 100) + (opening.length > 100 ? "..." : ""); 
                image = `https://source.unsplash.com/600x400/?$hiv/${id}`

                card = 
                `
                  <div class="cardblog show-${i}">
                    <div class="cardblog__header">
                      <img src= ${image} alt="cardblog__image" class="cardblog__image" width="600">
                    </div>
                    <div class="cardblog__body">
                      ${importance == "LW" ? '<span class="tagblog tag-green"> Low </span>' : ''}
                      ${importance == "IM" ? '<span class="tagblog tag-yellow"> Intermediate </span>' : ''}
                      ${importance == "HH" ? '<span class="tagblog tag-red"> High </span>' : ''}
                      <a href = "/blogpost/${id}/" class = "cursor-pointer text-decoration-none text-black font-bold"> <h4>${title}</h4> </a>
                      <p> ${openingCard} </p>
                    </div>
                    <div class="cardblog__footer">
                      <div class="userblog">
                        <div class="userblog__info">
                          <img src="https://img.lovepik.com/element/45000/4103.png_860.png" alt="userblog__image" class="userblog__image" width = "50px" height = "50px">
                          <div style = "max-width: 150px; width: 100%;">
                            <h5 class = "capitalize"> ${username} </h5>
                            <small> ${date} </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                `
                $(card).appendTo("#containerBlog")
              }
            }
          }
        })
      }

      $(document).ready(function(){
        myFunction2();
        showBlogpost();
      })
  </script>
{% endblock content %}
</body>
