{% extends 'base.html' %}

{% block meta %}

<style>
    body {
    height: 100vh;
    }

    body {
    min-height: 100vh;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .background-div {
        background-color: #8e8d8a;
    }

    .zoom {
      transition: transform .2s;
    }
    
    .zoom:hover {
      transform: scale(1.05);
      box-shadow: 4px 4px 4px #cccccc;
    }

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>


{% endblock meta %}

{% block content %}

<script>

    function hideElement() {
        var x = document.getElementById("bookingForm");
        x.style.display = "none";
    }
    
    // Append newly added task to card-collection
    function submitForm() {
        $.ajax({
            type: "POST",
            url: `/forms-ajax/`,
            data:
            {
                // doctor: $("#inputDoctor").val(),
                // date: $("#inputDate").val(),
                // time: $("#inputTime").val(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            dataType: "json",
            success: function()
            {
                $.get("/booking/json", function(data) { showMessage(data) })
            },
            error: function(error) { alert("Error happened") },
        })
        return false;   
    }

    // Delete (cancel) previously booked appointment
    function deleteBooking(id) {
        $.ajax({
            type :"DELETE",
            csrfmiddlewaretoken: "{{ csrf_token }}",
            url :`/booking/delete/${id}`,
            success: function()
            {
                $(`#${id}`).remove();
                $.get("/booking/json", function(data) { showMessage(data) })
            },
            error: function(error){ alert("Error happened") },
        })
    }

    // Show message on how many appointments user have booked
    function showMessage(data) {
        if (data.length == 0) {
            $("#messageInfo").html("It seems like you haven't booked any appointment yet!");
            $("#bookingButton").html("START BOOKING HERE");
            $("#appointmentList").hide();
            $(".viewBooking").hide();

        } else {
            $("#messageInfo").html("You have " + data.length + " appointment(s) booked!");
            $("#bookingButton").html("BOOK MORE APPOINTMENTS HERE");
            $("#appointmentList").show();
            $(".viewBooking").show();   
        }
    }

    function searchDokter(){
        getSearchDokter();
        window.scrollTo(0, $(".card-collection").offset().top);
    }

    function getSearchDokter(){
        let temp = "";
        $.ajax({
            url: `/booking/all/?search=${$("#search").val()}`,
            type: "GET",
            dataType: "json",
            success: function(data){
                if (data.length!=0) {

                    for (let appointment of data){
                        temp += `<div id="${appointment.pk}" class="card shadow mx-4 mb-5 zoom" style="background-color: #eae7dc; color: #8e8d8a; max-width: 18rem;">
                                    <div class="card-header">Appointment ${appointment.pk} ♡ </div>
                                    <div class="card-body">
                                        <p class="card-title lead"><strong>${appointment.fields.doctor}</strong></p>
                                        <p class="card-text lead">Date: ${appointment.fields.date}</p>
                                        <p class="card-text lead">Time: ${appointment.fields.time}</p>
                                    </div>
                                    <div class="d-flex justify-content-center mx-3">
                                        <a onclick="deleteBooking(${appointment.pk})" class="text-underline" style="color: #e85a4f;">Cancel Appointment</a>
                                    </div>
                                    <h3 class="lead my-3">or</h3>
                                    <div class="d-flex justify-content-center mx-3 mb-4">
                                        <a onclick="deleteBooking(${appointment.pk})" class="text-underline" style="color: #87ab69;">Mark as Completed</a>
                                    </div>
                                </div>`
                    }

                } else {
                    temp = `<h1 class="text-bold lead pb-3">No appointment with this doctor is found :(</h1>`
                }

                $('.card-collection').html(temp);
            },

            error: function(data){ alert('Error Detected'); }
        })
    }

    $(document).ready(function() {
      
        $("#appointmentList").hide();

        $("#bookingButton").click(function() {
            $("#bookingForm").show();
        })

        $("#closeButton").click(function() {
            $("#bookingForm").hide();
        })

        $.get("/booking/json", function(data){ showMessage(data) })
        searchDokter();

        var typed = new Typed('#typed', {
            strings: [`{{username}}`],
            typeSpeed: 120,
            backSpeed: 120,
            backDelay: 2000,
            startDelay: 500,
            loop: true,
            });

        var typed_two = new Typed('#typed_two', {
            strings: ["Here is the list of your upcoming appointments!"],
            typeSpeed: 120,
            backSpeed: 120,
            backDelay: 2000,
            startDelay: 500,
            loop: true,
            });

        var typed_three = new Typed('#typed_three', {
            strings: ["♡ ♡"],
            typeSpeed: 200,
            backSpeed: 200,
            backDelay: 200,
            startDelay: 200,
            loop: true,
            });


    })

</script>

<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-2 mt-2 px-2 border-bottom bg-white shadow-sm">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none px-5 py-0">
        <span class="fs-4 fw-bold" style="color: #797875;">HIVCenter ♡</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-decoration-none" style="color: #8e8d8a;" href="/authentication/login/">Login</a>
        <a class="me-3 py-2 text-decoration-none" style="color: #8e8d8a;" href="/blogpost/">Blogpost</a>
        <a class="me-3 py-2 text-decoration-none" style="color: #8e8d8a;" href="/booking/">Booking</a>
        <a class="me-3 py-2 text-decoration-none" style="color: #8e8d8a;" href="/experience/">Experience</a>
        <a class="me-3 py-2 text-decoration-none" style="color: #8e8d8a;" href="/feedback/">Feedback</a>
      </nav>
    </div>
  </header>


<div style="background-color:#d8c3a5; min-height: 100vh;">
    
    <div class="mb-0 flex-wrap flex-row justify-content-center" style="background-image: linear-gradient( #eae7dc, #d8c3a5); width: 100%;">
        <img src="/static/images/asset3.png" alt="" style="width:40%;" class="d-md-block img-fluid mt-5">
        
        <div class="form-container-1 mt-5 ml-0" style="width:50%; text-align:center;">
            <h1 class="display-4">Hello, <span id="typed"></span>!</h1>
            <p id="messageInfo" class="py-2 lead">It seems like you haven't booked any appointment yet!</p>
            <button id="bookingButton" type="button" class="btn px-5 mb-2 shadow-sm" style="background-color: #8e8d8a; color: #eae7dc" onClick="document.getElementById('bookingForm').scrollIntoView();">START BOOKING HERE</button>
            <h3 class="viewBooking lead mb-2">or</h3>
            <button id="viewButton" type="button" class="btn px-5 mb-2 shadow-sm viewBooking" style="background-color: #8e8d8a; color: #eae7dc" onClick="document.getElementById('appointmentList').scrollIntoView();">VIEW MY UPCOMING APPOINTMENTS</button>
        </div>
    </div>
    
    <div id="bookingForm" style="background-image: linear-gradient(#d8c3a5); width: 100%;" class="mb-5 pb-5">
        <h3 class="lead pt-3 mt-3 pb-2">Fill the form below to book an appointment <span id="typed_three"></span></h3>
        <div class="card  shadow-lg mb-0 d-flex justify-content-center" style="background-color: #eae7dc; width:500px;" >
            <div class="card-body">

                <form method="POST" action="" id="newForm">

                    {% csrf_token %}

                    {% for fm in form %}

                        <div class="">
                            <label class="my-3"> {{ fm.label }} </label>
                            <p class="w-100"> {{ fm }} </p>
                        </div>

                    {% endfor %}

                    <div class="mb-3 mt-5 d-grid">
                        <input type="submit" class="btn mx-2 mb-3" value="Book" onclick=submitForm() style="background-color: #8e8d8a; color: #eae7dc"/>
                        <input type="button" class="btn mx-2" value="Close" id="hideEl" onclick=hideElement() style="background-color: #8e8d8a; color: #eae7dc"/>
                    </div>

                </form>

            </div>
        </div>
    </div>
    
    <div id="appointmentList" style="background-image: linear-gradient( #d8c3a5, #eae7dc); width: 100%;">
        <div class="mt-0 flex-wrap flex-row justify-content-center">
            
            <div class="form-container-1" style="width:600px; text-align:center;">
                <h1 id="appointmentInfo" class="text-bold text-light display-5 pb-3"><span id="typed_two"></span></h1>
                <small class="my-3 text-light">WANT TO SEARCH FOR A SPECIFIC DOCTOR?</small>
                <div id="search-form" class="form-inline my-2 d-flex flex-row" >
                    <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn m-2 my-sm-0" onclick="searchDokter()" style="background-color: #8e8d8a; color: #eae7dc">Search</button>
                </div>
            </div>
            <img src="/static/images/asset4.png" alt="" style="width:40%;" class="d-md-block img-fluid">   
        </div>
        
        <div id="cardAjax" class="card-collection d-flex flex-wrap flex-row justify-content-center mt-0 pt-0"></div>
        <br>
    </div>
        
</div>

{% endblock content %}