html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scroll-track {
    background-color: #CFD8DC;
}

::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
}

@-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }

.detail{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 2em;
}

.experience-container{
    display:flex;
    flex-direction:column;
    align-items: center;
}



.experience-detail{
    display:flex;
    flex-direction:row;
    /* align-items: center; */
}

.experience-form-container{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.form-container-1{
    border-radius: 15px;
}

.form-apa input{
  margin-right: 8px;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #fff;
  width: 50%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  outline:none;
  border:none;
  border-radius: 12px;
  background-color: #eae7dc;
 
}

.form-apa textarea{
    margin-right: 8px;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #fff;
  width: 50%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  outline:none;
  border:none;
  border-radius: 12px;
  background-color: #eae7dc;
}

.dropdown{
    margin-left:10em;
}

.btn-create{
    border: none;
    outline: none;
    margin:10px;
    width:200px;
    height: 40px;
    background-color: #8e8d8a;
}
.card-experience{
    background-color: #eae7dc;
    border-radius: 12px;
}
.card-experience:hover{
    transform: scale(1.1);
    transition: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    cursor: pointer;
}
.center-block {
    margin: auto;
    display: block;
}
.text-center{text-align: center;}
.font-bold{font-weight: bold;}
.flex{display: flex;}
.flex-col{flex-direction: column;}
.items-center{align-items: center;}
.bg-red-500{background-color: red;}
.bg-main{background-color: #e98074;}
.bg-white{background-color:white;}
.relative{position: relative;}
.h-100vh{min-height: max(100vh, 1000px); height: 100%; width: 100%;}
.text-decoration-none{text-decoration: none;}
.justify-around{justify-content: space-around;}
.list-none{list-style: none;}
.mx-8{margin: 0 1em;}
.ml-16{margin-left:4em;}
.mr-4{margin-right:1em;}
.mr-16{margin-right:4em;}
.ml-4{margin-left:1em;}
.mx-16{margin: 0 4em;}
.w-full{width:100%;}
.h-24{height:96px;}
.font-white{color:white;}
.px-8{padding: 0 2em;}
.my-4{margin: 1em 0em;}
.max-w-360px{max-width: 360px;}
.max-w-720px{max-width: 720px;}
.max-w-1080px{max-width: 1080px;}
.flex{display:flex;}
.flex-col{flex-direction: column;}
.flex-row{flex-direction: row;}
.items-center{align-items: center;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}
.justify-evenly{justify-content: space-evenly;}
.p-8{padding:2em;}
.rounded-md{border-radius:9px;}
.h-full{height: max-content;}
.bg-red{background-color: red;}
.text-4xl{font-size: 3rem}
.text-xl{font-size:1.25rem}
.text-2xl{font-size:1.5rem}
.login-color{background-color: rgb(250, 250, 250);}
.box-shadow{box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);}
.py-4{padding: 1em 0;}
.py-8{padding: 2em 0;}
.pb-4{padding-bottom: 1em;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.text-grey{color:white; font-weight: thin;}
.text-bluetext{color:#add8e6}
.text-green{color:green}
.text-white{color:white}
.text-red{color:red;}
.items-end{align-items: flex-end;}
.text-2xl{font-size: 1.5rem;}
.h-screen{height:100vh;}
.absolute{position:absolute}
.top-setengah{top:50%;}
.pt-8{padding-top:2em;}
.font-bold{font-weight: bold;}
.flex-wrap{flex-wrap: wrap;}
.my-8{margin: 2em 0em;}
.gap-x-8{column-gap: 2em;}
.gap-y-8{row-gap: 2em;}
.capitalize{text-transform: capitalize;}
.animation{transition: transform .2s}
.animation:hover{transform:scale(1.05);}
.duration-500{transition-duration: 500;}
.cursor-pointer{cursor: pointer;}
.position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.w-1per5{width:20%}
.w-4per5{width:80%}
.bg-blue-500{background-color:blue;}
.h-full{height:100%;}
.bg-button{background-color: #8e8d8a;}
.border-button{border: 2px solid #8e8d8a;}
.border-50px{border-radius: 50px;}
.btnabout{padding: 0.5em 1.5em; font-size: 22px;}
.inline{display: inline-block;}
.widthmin{width:fit-content;}
.text-grey{color:#909fb7;}
.mt-16{margin-top: 4em;}
.max-w-1500px{max-width: 1500px;}
.top-0{top:0;}
.top-24{top:96px;}
.cover{object-fit: cover;}
.center{object-position: center;}
.image{object-fit: cover; object-position: center; position: relative; max-width: 400px; width: 100%;}
.test{margin-top: 200px;}
.color-blue{color: #8e8d8a;}
.color-white{color:white;}

.about{
    color: rgb(68, 68, 68);
}
.about h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}
  
  .about h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .about h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #8e8d8a;
    bottom: 0;
    left: calc(50% - 20px);
  }

  .about p{
    font-size: 20px;
  }

  .about ul {
    list-style: none;
    padding: 0;
  }

  .about ul li {
    padding-left: 28px;
    position: relative;
    font-size: 18px;
  }

  .about ul iconify-icon {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #e98074;
    line-height: 1;
  }

  .about .btn-learn-more {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #e98074;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #e98074;
  }

  .about .btn-learn-more:hover {
    background: #e98074;
    color: #fff;
    text-decoration: none;
  }

.w-1per2{width:50%;}

.flex-col-reverse{
    flex-direction: column-reverse;
}

.hero{
    text-align: center;
}

.hero11{
    align-items:center;
}

.hero11 button{
    margin-top:2em;
    margin-bottom: 4em;
}

.logonav{
    width: 150px;
    object-fit: cover;
    display: block;
    object-position: center;
}

.judulnav, .blogpostnav, .experiencenav, .bookingnav, .feedbacknav{
    display: none;
}

.hamburgernav{
    display:block;
}

.hamblogpost, .hamexperience, .hambooking, .hamfeedback{
    padding: 0.5em 0.75em;
}

.hamblogpost:hover, .hamexperience:hover, .hambooking:hover, .hamfeedback:hover{
    background-color: #eae7dc;
} 

.btnabout:hover{
    color: #fff;
    background: #e98074;
}

.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.hamnav{
    justify-content: space-between;
    padding: 0 2em;
}

@media screen and (min-width: 1000px) {
    .judulnav{
        display: initial;
    }
    .nav2{
        display:flex;
    }

    .hamburgernav{
        display:none;
    }

    .blogpostnav, .experiencenav, .bookingnav, .feedbacknav{
        display: flex;
    }
    .hamnav{
        justify-content: space-around;
        padding: 0 0;
    }
}
@media screen and (min-width: 768px){
    .div1{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .div11{
        margin-left:4em;
        margin-right: 1em;
        width:50%;
    }

    .div12{
        margin-left: 1em;
        width:50%;
        margin-right: 4em;
    }
    .hero{
        text-align: start;
    }
    .hero1{
        display:flex;
        flex-direction: row;
        max-width:1080px;
        margin-top:2em;
    }

    .image{
        object-fit: cover;
    }
.bg-white{
    background-color: white;
}
.text-white{
    color:white;
}
    .hero11{
        align-items: flex-start;
    }

    .hero11 button{
        margin:4em 0em 2em 0em;
    }

    .image{max-width: 800px; width: 100%;}
    .w-3per5{
        width:60%;
    }
    .w-2per5{
        display:flex;
        align-items: flex-start;
        width:40%;
    }
}

#faq{
    background-color: #e98074;
    padding-bottom: 10px;
}

#faq h2{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top:30px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: white;
}
#faq h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  #faq h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #8e8d8a;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .faq .faq-list {
    padding: 0 100px;
    margin-top: 50px;
  }
  
  .faq .faq-list ul {
    padding: 0;
    list-style: none;
  }
  
  .faq .faq-list li+li {
    margin-top: 15px;
  }
  
  .faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
  }
  
  .faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
    text-decoration: none;

  }
  
  .faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #47b2e4;
  }
  
  .faq .faq-list .icon-show,
  .faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .faq .faq-list .icon-show {
    display: none;
  }
  
  .faq .faq-list a.collapsed {
    color: #37517e;
    transition: 0.3s;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: #47b2e4;
  }
  
  .faq .faq-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .faq .faq-list a.collapsed .icon-close {
    display: none;
  }

 