.detail{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 2em;
}

.experience-container{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.experience-form-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 2em;
}

.form-container-1{
    background-color: white;
    border-radius: 15px;
}

.dropdown{
    margin-left:10em;
}

.btn-create{
    border: none;
    outline: none;
    margin:10px;
    width:200px;
    height: 40px;
    background-color: #8e8d8a;
}





.card:hover{
    transform: scale(1.1);
    transition: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    cursor: pointer;
}



