{% extends 'base.html' %}
<!DOCTYPE html>
<head>
    {% block meta %}
    <title> Blogpost </title>
    {% endblock meta %}
</head>

<body>
{% block content %}  
    <div class = "flex justify-center">
        <div id = "artikelBlog" class = "relative top-25 flex-col flex text-center max-w-1080px text-left gap-y-8 mx-8">
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function showData(id){
        $.ajax({
            type: "GET",
            url: `/blogpost/json/${id}`,
            success: function(data){
                $('#artikelBlog').html("");
                title = data[0].fields.title
                $('title').html(title);
                opening = data[0].fields.opening
                main = data[0].fields.main
                closing = data[0].fields.closing
                importance = data[0].fields.importance
                let importanceIndicator
                if(importance == "HH"){
                    importanceIndicator = "High"
                }else if(importance == "IM"){
                    importanceIndicator = "Intermediate"
                }else{
                    importanceIndicator = "Low"
                }
                date = data[0].fields.time.substring(0, 10)

                var artikel = `
                    <h1 class = "text-4xl font-bold"> ${title} </h1>
                    <div class = "flex justify-between">
                        <h2 class = "text-xl font-bold" style = "color:#GBGE70;"> ${date} </h2>
                        <h2 class = "text-xl font-bold" style = "color:${importance == "HH" ? "#cb2d3e" : ""} ${importance == "IM" ? "#D1913C" : ""} ${importance == "LW" ? "#41b36a" : ""} ;"> ${importanceIndicator} </h2>
                    </div>
                    <p class = "text-2xl text-left line-height"> ${opening} </p>
                    <p class = "text-2xl text-left line-height"> ${main} </p>
                    <p class = "text-2xl text-left line-height"> ${closing} </p>
                `

                $(artikel).appendTo("#artikelBlog")

            }
        })
    }

    $(document).ready(function(){
        url = window.location.pathname
        const urls = url.split("/");
        showData(Number(urls[urls.length - 2]))
    })

</script>

{% endblock content %}
</body>